@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&display=swap");

:root {
    --font-main: "Inter", sans-serif;
    --colo-primary: #db4444;
    --colo-dark-1: #000000;
    --colo-dark-2: #7d8184;
    --colo-white-1: #ffffff;
    --colo-white-2: #f5f5f5;
    --color-green: #00d656;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html{
    font-size: 10px;
  }

  body{
    font-family: var(--font-main);
  }

  a{
    text-decoration: none;
  }

  ul{
    list-style: none;
  }

  .container{
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  /*------- Top-Disclaimer ------ */

.top-nav{
    background-color: var(--colo-dark-1);
    width: 100%;
    height: 4rem;
}

.top-nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav-wrapper{
    display: flex;
    color: var(--colo-white-2);
    font-size: 1.4rem;
}

.top-nav-wrapper a{
    color: var(--colo-white-1);
    margin-left: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}


  /*------- Navbar ------ */

.nav{
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid var(--colo-dark-2);
    position: sticky;
    top: 0rem;
    background-color: var(--colo-white-2);
    z-index: 100;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-h{
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-weight: 800;
}

.nav-list ul{
    display: flex;
}

.nav-list li{
    font-size: 1.6rem;
    padding: 0.6rem;
    margin: 0 1rem;
}

.nav-list a{
    color: #000000;
}

.nav-list li a:hover{
    color: #b61010;
}

.nav-items{
    display: flex;
}

.nav-form{
    display: flex;
    padding: 0.8rem;
    background-color: var(--colo-white-1);
    align-items: center;
    border-radius: 0.5rem;
}
.nav-input{
    padding: 0.4rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.nav-search, .nav-cart, .nav-items i{
    cursor: pointer;
}

.nav-items i{
    margin-top: 0.4rem;
}

.nav-items i {
    font-size: 2.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    color: #1f1e1e;
}



/* ------Header------ */

.header-container{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.header-filter{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.header-filter a {
    color: var(--colo-dark-1);
}


/* Catagory Showcase */

.catagory-showcase{
    width: 100%;
    margin-top: 10rem;
}

.products-catagory{
    color: var(--colo-primary);
    border-left: 1.5rem solid var(--colo-primary);
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.products-catagory-p{
    font-size: 1.3rem;
}

.catagory-header{
    font-size: 2.2rem;
}


/* Cards */

.catagory-showcase{
    width: 100%;
}

.cards{
    margin-top: 3rem;
    margin-bottom: 6rem;
    padding: 0 2rem;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card1{
    /* height: 42  rem; */
    width: 24.5rem;
    /* border: 1px solid black; */
    position: relative;
    margin-bottom: 3rem;
}

.card-top img{
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
}

.card-badge{
    background-color: var(--colo-primary);
    color: var(--colo-white-2);
    padding: 0.3rem 0.7rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    left: 1.5rem;
    top: 1.2rem;
}

.top-icons{
    position: absolute;
    top: 1.2rem;
    left: 16.2rem;
    font-size: 1.1rem;
    display: flex;
    gap: 0.5rem;
}

.card-heart, .card-eye{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 50%;
    margin-left: 0.2rem;
    transition: 0.2s;
}

.card-heart:hover{
    scale: 1.2;
}

.card-eye:hover{
    scale: 1.2;
}

.product-description{
    font-size: 1.6rem;
    font-weight: 650;
    margin-top: 1rem;
}

.price{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--colo-primary);
    margin-top: 1rem;
}

.ratings{
    margin-top: 1rem;
    color: rgb(219, 140, 4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.stars{
    font-size: 1.5rem;
}

.rating-no{
    margin-right: 8rem;
    color: black;
    font-size: 2rem;    
}

.card1 button {
    margin-top: 2rem;
    padding: 0.8rem 3rem;
    background-color: var(--colo-primary);
    color: var(--colo-white-2);
    border: none;
    border-radius: 0.8rem;
    transition: 0.1s;
}

.card1 button:hover{
    scale: 1.03;
}

/* .btn{
    margin: 0 auto;
    margin-top: 8rem;
    background-color: var(--colo-primary);
    color: var(--colo-white-2);
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.8rem;
} */

.bottom-btn{
    display: flex;
    justify-content: center;
    width: 100%;
}

.bottom-btn1{
    margin-bottom: 5rem;
    background-color: var(--colo-primary);
    color: var(--colo-white-2);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 0.8rem;
}


/* Browse */

.browse-cards{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.b-card{
    border-radius: 0.5rem;
    width: 17rem;
    height: 12rem;
    border: 1px solid rgba(145, 145, 145, 0.451);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding: 5rem;
    gap: 0.2rem;
}

.b-card img{
    width: 3.5rem;
}

.b-card p{
    font-size: 1.6rem;
}

.b-card:hover{
    background-color: var(--colo-primary);
}


/* Merch Adver */

.merch-wrapper{
    background-color: var(--colo-dark-1);
    color: var(--colo-white-2);
    padding: 8rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
    gap: 1rem;
    margin-top: 3.5rem;
}

.merch-img img{
    width: 100%;
}

.merch-text{
    /* margin-right: 20rem; */
    width: 60%;
}

.m-text-p{
    font-size: 1.6rem;
    color: var(--color-green);
    padding: 1rem 0;
}

.m-text-heading{
    font-size: 4.3rem;
    font-weight: 700;
    padding-bottom: 4rem;
}

.merch-btn{
    background-color: var(--color-green);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
}


/* Our Products */
.our-products{
    padding: 0 0;
}

/* Gallery */

.gallery-wrapper{
    margin-top: 4rem;
}
.gallery-items{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 4vw);
    grid-gap: 1.5rem;
}

.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
}


    .gallery-item-1 {
        grid-column: 1 / span 3;
        grid-row: 1 / span 7;
        /* grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 8; */
    }
    .gallery-item-2 {
        grid-column-start: 4;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .gallery-item-3 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 8;
    }
    .gallery-item-4 {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 8;
    }

.gallery-item-1, .gallery-item-2, .gallery-item-3, .gallery-item-4{
    position: relative;
}

.gallery-content{
    position: absolute;
    bottom: 2rem;
    left: 0rem;
    bottom: 0;
    z-index: 9;
    width: 70%;
    color: var(--colo-white-2);
    padding: 2rem;
}

.g-heading{
    font-size: 2.2rem;
    font-weight: 500;
}

.gallery-p{
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

.gallery-link{
    font-size: 1.6rem;
    color: var(--colo-white-2);
    text-decoration: underline;
}

.gallery-content{
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(240,240,240,0) 0%, rgba(0,0,0,10) 100%);
width: 100%;

border-radius: 0.8rem;
}

/* Sub Footer */

.sub-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10rem;
    flex-wrap: wrap;
}

.sub1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}
.sub1 img{
    width: 30%;
}

.sub1-heading{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem 0;
    margin-top: 0.8rem;
}


.sub1-p{
    font-size: 1.6rem;
}

/* Footer */

.footer-items{
    padding-top: 5rem;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}


.f-1{
    padding-left: 10rem;
}

.f-heading{
    font-size: 3.2rem;
    padding-bottom: 1.5rem;
}

.f-1, .f-2 p{
    font-size: 1.5rem;
  
    text-align: justify;
}
.f-1 p{
    width: 20rem;
}


.f-2 .f-heading{
    font-size: 1.8rem;
}

.f-2 p{
    line-height: 2.5rem;
}

.footer{
    height: 28rem;
}

/* Login Page Styles */


.login-items{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* flex-wrap: wrap; */
    height: 100vh;
    margin: 10rem 0;
}

.login-items img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.login-form{
    width: 50%;
}

.login-form{
    padding: 0rem;
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    padding-right: 10rem;
}

.login-heading{
    font-size: 3.2rem;
}

.login-p{
    font-size: 1.6rem;
    margin: 2rem 0;
}

.login-form-items input{
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    line-height: 3;
    outline: none;
    margin: 1rem 0;
}

.login-btn{
    width: 100%;
    margin-top: 3rem;
    background-color: var(--colo-primary);
    color: whitesmoke;
    padding: 1rem 0;
    border: none;
    border-radius: 0.5rem;
}

/* Login Page Media Queries */

@media (max-width: 800px){


    .login-form{
        width: 100%;
    }

    .login-items img{
        display: none;
    }
}


/* Home Page Media Queries */


@media (max-width: 1100px){
    .header-filter{
        position: absolute;
        visibility: hidden;
    }

    .header-container{
        display: block;
    }

    .showcase-img img{
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 768px){
    .nav-items{
        position: absolute;
        visibility: hidden;
    }
    .gallery-items{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .footer-items{
        grid-template-columns: 1fr 1fr;
    }

    .f-1, .f-2{
        margin-bottom: 3rem;
        padding-left: 3rem;
    }
    
    .footer-container{
        background-color: #000000;
        height: 40rem;
    }

    .cards {
        padding: 0 8rem;
    }
}

@media (max-width: 669px){
    .cards{
        padding: 0 1rem;
        gap: 1rem;
    }
}

@media screen and (min-width: 955px) and (max-width: 999px){
    .our-products{
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        align-items: center;
        padding: 0 2rem;
        gap: 8rem;
    }
}

